albumentations==0.2.0
h5py==2.8.0
h5py-cache==1.0
imageio==2.5.0
imageio-ffmpeg==0.2.0
imgaug==0.2.6
jpeg4py==0.1.4
matplotlib==3.0.3
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.4
opencv-python==4.0.0.21
openpyxl==2.6.1
pandas==0.24.1
Pillow==5.4.1
protobuf==3.7.0
pycparser==2.19
pyparsing==2.3.1
PyYAML==3.13
requests==2.20.1
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.1.0
sklearn==0.0
tensorboardX==1.6
toolz==0.9.0
torch==1.0.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.2.1
tqdm==4.31.1
urllib3==1.24.1
visdom==0.1.8.5
catalyst==19.3rc0
